---
layout: default
---  
<a id="top"></a>
<div class="main-container transition--fade">
    <section class="imagebg height-90 parallax" data-overlay="6">
        <div class="background-image-holder">
            <img alt="pic" src="assets/images/intro-bg.jpg" />
        </div>
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="h2">Elizabeth Simonian</h1>
                    <p>
                        Full-stack Developer
                    </p>
                    <a class="btn btn--primary inner-link" href="https://github.com/esimonian" target="_blank">
                        <span class="btn__text">
                            <i class="socicon-github"></i> Github
                        </span>
                    </a>
                    <a class="btn btn--primary inner-link" href="http://www.upwork.com/o/profiles/users/_~0131feccde7cf03681/" target="_blank">
                        <span class="btn__text">
                            <i class="icon-Up"></i> Upwork
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <!--end of container-->
    </section>
    <section id="portfolio">
        <div class="container">
            <div class="row">
            
                <div class="col-sm-12">
                    <div class="elements--title">
                        <h4>Portfolio</h4>
                    </div>
                </div>
                {% for item in site.data.portfolioitems %}
                <div class="col-sm-12">
                    <a href="#">
                        <div class="card card--horizontal card-5">
                            <div class="card__image col-sm-7 col-md-8">
                                <div class="background-image-holder">
                                    <img alt="Pic" src="assets/images/portfolioitems/{{item.images[0]}}">
                                </div>
                            </div>
                            <div class="card__body col-sm-5 col-md-4 boxed boxed--lg bg--white">
                                <div class="card__title">
                                    <h4>{{item.title}}</h4>
                                </div>
                                <span><em>{{item.description}}</em></span>
                                <p>
                                    {{item.features}}
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
    

    <section class="height-40">
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h2>Technologies I work with</h2>
                            <span><em></em></span>
                        </div>
                    </div>
                </div>
            </section>
       
    <section class="bg--secondary partners-1 space--sm">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="slider" data-items="6" data-timing="3000">
                        <ul class="slides">
                            {% for tech in site.data.tech %}
                            <li>
                            <!--
                                <img alt="img" src="assets/images/partner1.png" />
                            -->
                            {{ tech.image}}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg--primary space--sm cta cta-5" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h4>Interested in working together?</h4>
                    <a class="btn btn--sm" href="mailto:esimonian16@gmail.com">
                        <span class="btn__text">
                            Email Me 
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    
</div>
